<footer th:fragment="footerFragment" class="footer py-5 mt-auto">
<div class="card text-center">
	
	  <div class="card-header">
	    <ul class="nav nav-tabs card-header-tabs">
	      <li class="nav-item">
	        <a class="nav-link active" aria-current="true">소개</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://blog.naver.com/yhs5958_2">개인 블로그</a>
	      </li>
	    </ul>
	  </div>
	  
	  <div class="card-body">
	    <h5 class="card-title">2024 개인 프로젝트 웹페이지</h5>
	    <p class="card-text">안녕하세요, 개인 웹페이지 제작을 해보았습니다.</p>
	    <a href="https://github.com/yhs5958/springboard" class="btn btn-primary">GIT REPOSITORY</a>
	  </div>
</div>	 
</footer>