<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<div class="my-3 border-bottom">
	<div>
		<h4>회원가입</h4>
	</div>
</div>

	<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="username" class="form-label">사용자 ID</label>
			<input type="text" th:field="*{username}" class="form-control col-5" placeholder="아이디는 3자이상 25자 이하입니다.">
		</div>
		<div class="mb-3">
			<label for="password1" class="form-label">비밀번호</label>
			<input type="password" th:field="*{password1}" class="form-control col-5" placeholder="비밀번호는 8자 이상 20자 이하입니다.">
		</div>
		
		<div class="mb-3">
			<label for="password2" class="form-label">비밀번호 확인</label>
			<input type="password" th:field="*{password2}" class="form-control col-5" placeholder="동일한 비밀번호를 다시 입력해주세요.">
		</div>
		
		<div class="mb-3">
			<label for="email" class="form-label">이메일</label>
			<input type="email" th:field="*{email}" class="form-control col-5" placeholder="이메일 주소를 입력해주세요.">
		</div>
		<button type="submit" class="btn btn-primary my-2">가입하기</button>
		<a th:href="@{/}" class="btn btn-warning">취소</a>
	</form>
</div>
</html>